#about {
	padding: 0 0 20px;
	@include tablet {
		margin: 0 5% 50px 5%;
		p {
			font-size: $font-paragraph-small;
			text-align: left;
			margin: 0 15px 0 0;
			max-width: 60%;
		}
	}
	@include desktop {
		margin: 0 0 3% 3%;
	}
}

#centerContainer {
	text-align: center;
	margin: 0 auto;
	@include desktop {
		width: 96%;
		max-width: 1024px;
		@include alpha-attribute('background-color', rgba($primary-color, .7), $white);
	}
}

#portfolio {
	padding: 20px 0;
	@include alpha-attribute('background-color', rgba($primary-color, .5), $white);
}

.logo {
	max-width: 70%;
	@include tablet {
		float: right;
		margin: 0 auto;
		max-width: 42%;
	}
	@include desktop {
		margin: 0 3%;
	}
}

.img {
	@include tablet {
		max-width: 48%;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 1% 0;
	}
	@include desktop {
		width: 32%;
		border: 0;
		p {
			font-size: $font-paragraph-small;
		}
	}
}

.pf-thumb {
	max-width: 90%;
}

.clearfix {
	@extend %clearfix;
}