* {
	font-family: $font-varela-round;
}

html {
	box-sizing: border-box;
}

body {
	color: $tertiary-color;
	background-color: $secondary-color;
	@extend %reset;
	@include alpha-attribute('background-color', rgba($tertiary-color, .2), $white);
	@include desktop {
		@include alpha-attribute('background-color', rgba($tertiary-color, .8), $white);
	}
}

ol, li {
	@extend %reset;
}

ol {
	list-style: none;
}

li {
	@include alpha-attribute('background-color', rgba($primary-color, 1), $white);
}

a, h5, h6 {
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: $black;
}

h5 {
	font-size: $font-header;
	padding: 0 0 15px;
}

h3 {
	margin: 18.72px 0 12px;
}

p {
	font-size: $font-paragraph-small;
	line-height: 1.5;
}

img {
	margin: 20px 0px 5px;
}

span {
	font-weight: bold;
	margin: 0px 6px;
}