// Colors
$white : #FFF;
$black : #000;
$dark-gray : #A9A9A9;

// Functional Colors

// Fonts
$font-varela-round : 'Varela Round', sans-serif;

// Paths
$path-font : '../../fonts'; 
$path-img : '../../img';

// Media query breakpoints
$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';